body {
  padding-top: 60px;
  background: #000 url("bg.jpg") no-repeat 50% 0;
}

#box {
  background-color: #32383e63;
}

#box .card-header {
  background-color: #32383e63 !important;
}

.clickable:hover {
  cursor: hand;
}

.icon {
  height: 32px;
}

img.faction {
  height: 48px;
}

.yellow {
  color: yellow !important;
}
